body {
    @media screen and (max-width: 600px) {
        
        .list {
            display: none;
            
            &.open {
                display: block;
            }
        }
        
        .indent-0 {
            
        }
        
        .indent-1 {
            padding: 0 0 0 15%;
        }
        
        .indent-2 {
            padding: 0 0 0 30%;
        }
        
    }//end media query
}