body {
    @media screen and (max-width: 600px) {
        .spell-list {
            padding: 20px 0;
            width: 100%;
            
            .clb {
                clear: both;
            }
            
            .main {
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                
                border-radius: 10px;
                font-size: 50px;
                letter-spacing: 15px;
                margin: 0 auto 3px auto;
                padding: 10px 0 10px 3px;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                width: 88%;
                
                &.war {
                    background: #800000;
                    color: #9900cc;
                    letter-spacing: 3px;
                    text-shadow: 0 0 1px #000;
                    
                    &.active {
                        color: #ff00ff;
                        box-shadow: 0 9px 5px 2px #aaa;
                        font-size: 55px;
                        margin: -12px auto 3px auto;
                        text-shadow: 0 0 18px #ff00ff;
                        width: 95%;
                    }
                }
                
                &.wiz {
                    background: #666699;
                    box-shadow: 0 0 5px 2px #aaa;
                    color: #b2b300;
                    text-shadow: 0 0 1px #000;
                    
                    &.active {
                        color: #ffff00;
                        box-shadow: 0 9px 5px 2px #aaa;
                        font-size: 55px;
                        margin: -12px auto 3px auto;
                        text-shadow: 0 0 18px #ffff00;
                        width: 95%;
                    }
                }
            }
            .index-wrap {
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                
                height: 0;
                overflow: hidden;
                &.open {
                    height: 170px;
                }
                
                .index-row {
                    text-align: center;
                    
                    .index {
                        border-radius: 10px;
                        display: inline-block;
                        margin: 10px 0 5px;
                        padding: 20px 0;
                        width: 18%;
                        
                        &.wiz {
                            background: #666699;
                        }
                        
                        &.war {
                            background: #800000;
                        }
                    }
                    
                    &.top {
                        
                        .index {
                            box-shadow: 0 9px 5px 2px #aaa;
                        }
                    }
                    
                    &.bottom {
                        
                        .index {
                            box-shadow: 0 9px 5px 2px #aaa;
                        }
                    }
                    
                }
            }
        }
    }//end media query
}